<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>01_chats_public</display-name>
  <welcome-file-list>
    <welcome-file>faces/inicio.xhtml</welcome-file>
  </welcome-file-list>
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>f1</filter-name>
  	<filter-class>filters.FilterSession</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>f1</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
  	<param-name>conexionDB</param-name>
  	<param-value>/WEB-INF/resources/conexion.properties</param-value>
  </context-param>
  <!-- <context-param>
  	<param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
  	<param-value>true</param-value>
  </context-param>
  <error-page>
  	<exception-type>javax.faces.application.ViewExpiredException</exception-type>
  	<location>/error.html</location>
  </error-page> -->
  <error-page>
  	<error-code>500</error-code>
  	<location>/error.html</location>
  </error-page>
</web-app>